<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="#{ERROR.TITLE}"></title>
	<link rel="stylesheet" th:href="@{/lib/css/bootstrap.min.css}">

<script type="text/javascript" th:src="@{/lib/js/bootstrap.bundle.min.js}"></script>

</head>

<body>
	<div class="container border mt-3">
		<div class="row mt-3">
			<div class="col" th:text="#{ERROR.SUBTITLE}">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col" th:text="#{ERROR.MESSAGE}">
			</div>
		</div>
		<div class="row mt-3 mb-3 justify-content-end">
			<div class="col-2 ">
				<a class="btn btn-success" th:text="#{ERROR.BUTTON.HOME}" th:href="@{/home/}">ホーム画面</a>
			</div>
		</div>
	</div>
</body>

</html>